#Réécrit une URL de type xxx/yyy/zzz en index.php?controleur=xxx&action=yyy&id=zzz
#Options +Followymlinks
RewriteEngine on
#premiere regle de base Bundle/Controlleur/Methode
RewriteRule ^([a-zA-Z]*)/?([a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?$ index.php?b=$1&c=$2&m=$3 [NC]

#deuxieme regle de base Bundle/Controlleur/Methode/id ce modele sert dans le cas ou vous avez un id a gerer
RewriteRule ^([a-zA-Z]*)/?([a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?([a-zA-Z0-9]*)?/?$ index.php?b=$1&c=$2&m=$3&id=$4 [NC]


